* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DADADA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

#main-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

h1 {
    position: absolute;
    color: #ffff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding: 15px 0 0 15px;
}

.row {
    display: flex;
    align-items: center;
    width: 60vh;
    background-color: #FFFFFF;
    padding: 10px;
}

.img-article {
    width: 150px;
    height: 120px;
    margin-right: 15px;
}

h2 {
    margin-bottom: 15px;
}

.clear {
    margin-bottom: 30px;
    clear: both;
}